{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container" >
    <div class="jumbotron text-center" >
    <h1 class="text-center mb-5">Some Quick Verification!</h1>
        <h4>(Verify Your Email {{ request.user.email }})</h4><br>
    <script src="https://accounts.google.com/gsi/client"></script>
    <div id="g_id_onload"
         data-client_id="1000318513240-fmsakk3bf9vi7c2nq9r167b23e99h4hs.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
    <br>
        <p>Edit your Email from here <strong class="text-primary"><a href="{% url 'profile' %}">Edit Profile</a></strong></p>
    <div id="responseG" style="display: block"></div>
        {% csrf_token %}
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/onboarding.js' %}" type="text/javascript"></script>
{% endblock script %}