{% extends "base.html" %}
 {% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <div class="container" >

    <div class="jumbotron text-center" >
        <h1 class="mb-5">Ahhh! Impatience.</h1>
        <h4><strong class="text-primary">HACHE </strong><span class="text-primary"> 2022</span> Will Start At 9:00 pm on 12/03/2022 !</h4>
    </div>
        <div class="game">
            <div class="score-div">
                <h3 class="highescore">Your Score: </h3>
                <div class="score">0</div>
            </div>

            <div class="stage"></div>
        </div>

</div>
    <script src="{% static 'js/game.js' %}"></script>
{% endblock content %}
