{% extends "base.html" %}
{% block content %}

    <div class="form-content">
        <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Username:</label>
                            {{ user_form.username }}
                        <label class="small mb-1">Email:</label>
                        {% if verifed %}
                            <input readonly type="text" name="email" value="{{ request.user.email }}" class="form-control" required="" id="id_email">
                        {% else %}
                            {{ user_form.email }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Change Password</a>
                        <hr>

                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
        </form>
    </div>
{% endblock content %}
